@use '../../sass/variables' as v;
@forward '../../sass/templates';

.navbar-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-weight: v.$font-weight-700;
  text-align: center;

  .header-logo-container {
    width: fit-content;

    .header-logo {
      width: 155px;
      height: 60px;
    }
  }

  //Mobile menu Icons

  #burgermenu,
  #closemenu {
    position: absolute;
    right: 1.3rem;
    top: 1.4rem;
    color: v.$grayish-violet;
    font-size: 35px;
  }

  //Mobile Menu

  .navbar {
    display: none;
  }

  //When hamburger clicked , show Mobile menu

  .show-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: absolute;
    top: 4.5rem;
    left: 1.45rem;
    background-color: v.$dark-violet;
    height: 370px;
    width: v.$content-width-mobile;
    border-radius: 0.5rem;

    .navbar-line-mobile {
      width: 280px !important;
      background-color: v.$grayish-violet;
      border-radius: 1px;
      height: 1px;
      border: none;
    }
  }

  //Mobile menu links

  .links {
    @extend %flex-column;
    gap: 1rem;
    list-style: none;
    a {
      text-decoration: none;
      color: v.$soft-white;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  //Login Menu section

  .login {
    @extend %flex-column;
    gap: 1rem;

    list-style: none;
    a {
      text-decoration: none;
      color: v.$soft-white;

      &:hover {
        text-decoration: underline;
      }
    }

    .signup-btn {
      @extend %btn;
      padding: 0.3rem 1.5rem;
      width: 280px !important;
      font-weight: v.$font-weight-700;

      &:hover {
        @extend %btn-hover;
      }
    }
  }
}

//Media Queries

@media only screen and (min-width: 1440px) {
  //Mobile menu Off

  #burgermenu,
  #closemenu,
  .show-menu {
    display: none;
  }

  // Desktop Menu

  .navbar {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: space-between !important;
    gap: 28rem !important ;

    .links {
      position: absolute;
      left: 21vw;
      display: flex;
      flex-direction: row !important;
      margin-top: 1rem;
      a {
        color: v.$cyan !important;

        &:hover {
          text-decoration: none !important;
          color: v.$dark-violet !important;
        }
      }
    }

    .login {
      display: flex;
      flex-direction: row !important;
      align-items: center !important;
      margin-right: 11vw !important;
      margin-top: 1rem;
      gap: 2rem !important;

      a {
        color: v.$cyan !important;

        &:hover {
          text-decoration: none !important;
          color: v.$dark-violet !important;
        }
      }

      .signup-btn {
        padding: 0.3rem 0.5rem !important;
        width: 150px !important;
        font-weight: 700;
      }
    }

    //Navbar mobile line off

    .navbar-line-mobile {
      display: none !important;
    }
  }

  .header-logo-container {
    margin-left: 11vw !important;
  }
}
