@use '../../sass/variables' as v;
@forward '../../sass/templates';

.header-main {
  @extend %flex-column;
  height: 100vh;
  margin-bottom: 3rem !important;
  z-index: 3;

  .header-text {
    @extend %ai-center-column;
    text-align: center;
    gap: v.$text-gap;

    h1 {
      font-weight: 700;
      font-size: 40px;
      width: 300px;
      line-height: v.$line-height;
    }

    p {
      width: v.$content-width-mobile;
      color: v.$grayish-violet;
    }

    button {
      @extend %btn;

      &:hover {
        @extend %btn-hover;
      }
    }
  }

  .header-img-container {
    @extend %flex-justify-c;
    width: v.$max-width;
    margin-bottom: 2rem;

    .header-img {
      width: 375px;
      height: 350px;
    }
  }
}

//Media Queries

@media only screen and (min-width: 1440px) {
  .header-main {
    flex-direction: row-reverse;
    justify-content: space-between;

    .header-text {
      justify-content: center;
      align-items: flex-start;
      width: fit-content;
      text-align: left;
      margin-left: 12.5vw;

      h1 {
        font-size: 70px;
        width: 600px;
        line-height: 4.5rem;
      }

      p {
        width: 500px;
      }
    }
    .header-img-container {
      width: 50vw;
      background-image: url(../../images/illustration-working.svg) !important;
      background-size: 50vw;
      background-repeat: no-repeat;
      background-position-y: center;
      background-position-x: 1rem;

      .header-img {
        display: none;
      }
    }
  }
}
